* {
  margin: 0;
  padding: 0;
  width: 100%;
}

.foto_principal img{
 position: relative;
}

.logo img {
 position: absolute;
 top: 0;
 left: 0;
 width: 250px;
 margin-left: 100px;
}

.menu ul li{
  position:absolute;
  top: 0;
  
}