 body{
  min-height: 100vh;
} 

.container{
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

header{
  background: url(/assets/imagens/Imagem_principal.png) no-repeat top;
  background-size: 100% 500px;

}

header .container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

header .container .menu{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

header .container .menu a{
  color: white;
}

header .container .menu .logo {
  max-width: 100%;
  width: 247px;
}

header .container .menu .logo img{
  max-width: 100%;
}

header .container .menu .menu2{
  display: flex;
  align-items: center;
  gap: 15px;
}

#dizeres_menu {
  display: flex;
  justify-content: center;
}

header .container .dizeres_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 20px;
}



header .container .dizeres_menu .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 50px;
  margin-top: 80px;
  border-radius: 10px;
  background-color:  rgba(39, 7, 245, 0.5);
}

header .container .dizeres_menu .btn a{
  color: white;
  font-size: 20px;
}

header .container .dizeres_menu .btn:hover{
  background-color:  rgba(110, 89, 247, 0.5);
}

section .container2{
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

section .container2 .cursos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

section .container2 .cursos h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

section .container2 .cursos p{
  text-align: center;
  font-size: 15px;
}

section .container3 {
  display: flex;
  gap: 27px;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

section .container3 .inicial {
  display: flex;
  flex-direction: column;
  background-color: #DAD2D2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container3 .inicial h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

section .container3 .inicial p{
  text-align: center;
}

section .container3 .intermediario {
  display: flex;
  flex-direction: column;
  background-color: #DAD2D2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container3 .intermediario h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

section .container3 .intermediario p{
  text-align: center;
}

section .container3 .avancado {
  display: flex;
  flex-direction: column;
  background-color: #DAD2D2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container3 .avancado h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

section .container3 .avancado p{
  text-align: center;
}

section .container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .container4 .campos{
  text-align: center;
  margin-top: 80px;
}

section .container4 .campos h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

section .container4 .campos p{
  text-align: center;
  font-size: 15px;
}

section .container5 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 80px;
}

section .container5 .imagem1{
  position: relative;
 
}

section .container5 .imagem1 img{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
  
}

section .container5 .sa{
  position: absolute;
  left: 10px;
  bottom: 10px;
}

section .container5 .sa h1{
  color: white;
  font-size: 25px;
  opacity: 0;
  transition: 0.5s ease-in-out;  
}

section .container5 .sa h1:hover {
  opacity: 1;
}

section .container5 .imagem2{
  position: relative;
}

section .container5 .imagem2 img{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container5 .sbc{
  position: absolute;
  left: 10px;
  bottom: 10px;
  
}

section .container5 .sbc h1{
  color: white;
  font-size: 25px;
  opacity: 0;
  transition: 0.5s ease-in-out;  
}

section .container5 .sbc h1:hover {
  opacity: 1;
}

section .container5 .imagem3{
  position: relative;
}

section .container5 .imagem3 img{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container5 .scs{
  position: absolute;
  left: 10px;
  bottom: 10px;
  
}

section .container5 .scs h1{
  color: white;
  font-size: 25px;
  opacity: 0;
  transition: 0.5s ease-in-out;  
}

section .container5 .scs h1:hover {
  opacity: 1;
}

section .container6 {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

section .container6 .facilidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

section .container6 .facilidades h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  
}

section .container6 .facilidades p{
  text-align: center;
  font-size: 15px;
}

section .container7 {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

section .container7 img{
  border-radius: 15px; 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container7 .edicao{
  display: flex;
  flex-direction: column;
}

section .container7 .edicao h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
} 

section .container7 .edicao p{
  text-align: center;
}

section .container7 .revelacao{
  display: flex;
  flex-direction: column;
 
}

section .container7 .revelacao h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
} 

section .container7 .revelacao p{
  text-align: center;
}

section .container7 .estudo{
  display: flex;
  flex-direction: column;
  
}

section .container7 .estudo h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
} 

section .container7 .estudo p{
  text-align: center;
}

section .container8 {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

section .container8 .estudantes{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

section .container8 .estudantes h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

section .container8 .estudantes p{
  text-align: center;
  font-size: 15px;
}

section .container9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-top: 80px;
  gap: 42px;
}

section .container9 .estudante1 {
  background-color: #DAD2D2;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container9 img{
  margin-left: 15px;
  margin-top: 12px;
  width: 15%;
}

section .container9 .estudante1 p{
  text-align: end;
  margin-left: 103px;
  margin-right: 20px;
  padding-left: 4.5px;
}

section .container9 .estudante1 h1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}

section .container9 .estudante1 .estrela1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 25px;
}

section .container9 .estudante2 {
  background-color: #DAD2D2;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container9 img{
  margin-left: 15px;
  margin-top: 12px;
  width: 15%;
}

section .container9 .estudante2 p{
  text-align: end;
  margin-left: 103px;
  margin-right: 20px;
  padding-left: 4.5px;
}

section .container9 .estudante2 h1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: 15px;
}

section .container9 .estudante2 .estrela1{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 19px;
}

section .container10 {
    background-image: url(/assets/imagens/sala_de_aula.png);
    background-size: 100% 800px;
    width: 100%;
    margin-top: 123px; 
    /* margin-left: 29px;
    margin-right: 29px; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
}

section .container10 .dizeres_final {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

section .container10 .dizeres_final h1 {
  margin-top: 180px;
  text-align: center;
  font-variant: small-caps;
  font-size: 40px;
  color: white;
  line-height: 35px;
}

section .container10 .btn2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 50px;
  margin-top: 80px;
  border-radius: 10px;
  background-color:  rgba(39, 7, 245, 0.185);
}

section .container10 .btn2 a {
  color: white;
  font-size: 20px;
}

section .container10 .btn2:hover {
  background-color:  rgba(110, 89, 247, 0.5);
}